input {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    align-items: center;
    box-align: center;
    
}
h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
p {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
img {
    align-items: center;
    box-align: center;
    align-content: center;
    text-align: center;
    place-items: center;
}