header {
    background-color: #340481;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 35px;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}
form {
    text-wrap: none;
    display: block;
}
#display {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
