img {
    border: 2px;
    border-style: solid;
    border-color: black;
}
#buttonbox {
    border: 2px;
    border-style: solid;
    width: 100px;
    
}
input {
    border: 2px;
    border-style: solid;
    border-color: black;
    padding-top: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#mainbox {
    border: 2px;
    border-style: solid;
    border-color: black;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}