h3 {
    font-family: "Arial";
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

button {
    font-family: "Bookman Old Style";
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    align-items: center;
    align-content: center;
    -moz-box-align: center;
    margin-left: 600px;
    margin-top: 50px;
    font-feature-settings: "aalt";
}